@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row pt-5">
    <div class="col-sm-6 mx-auto pt-sm-5">
        <div class="card shadow-sm">
            <img class="mx-auto pt-3 w-75" src="~/images/Logo.jpg" alt="Logo" />
            <div class="card-body text-center">
                <h3>@ViewData["Title"]</h3>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>