@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row pt-5">
    <div class="col-sm-6 mx-auto pt-sm-5">
        <div class="card shadow-sm">
            <img class="mx-auto pt-3" src="data:image/png;base64, @ViewData["LogoUrl"]" alt="Logo" />
            <h4 class="text-center my-2">@ViewData["SiteTitle"]</h4>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox custom-control-inline pt-1">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <button type="submit" class="btn-sm btn-primary custom-control-inline float-right">Log in</button>
                    </div>
                    <p class="text-center">
                        <a id="forgot-password" asp-page="./ForgotPassword"><small>Forgot your password?</small></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
