@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="row pt-5">
    <div class="col-sm-6 mx-auto pt-sm-5">
        <div class="card shadow-sm">
            <img class="mx-auto pt-3 w-75" src="~/images/Logo.jpg" alt="Logo" />
            <div class="card-body">
                <p>
                    You have requested to log in with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at log in or disable 2FA and log in again.
                </p>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.RecoveryCode"></label>
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
