@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}



<div class="row pt-5">
    <div class="col-sm-6 mx-auto pt-sm-5">
        <div class="card shadow-sm">
            <img class="mx-auto pt-3 w-75" src="~/images/Logo.jpg" alt="Logo" />
            <div class="card-body text-center">
                <h4>@ViewData["Title"]</h4>
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>